* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
}

li a{
    text-decoration: none;
}

.container1{
    display: flex;
    min-height: 25vw;
    justify-content: center;
    align-items: center;
}

.container1-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c1-left-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    height: 300px;
}

img{
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 25vw;
}

.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20vw;
}

.card-frame{
    border: 2px blue solid;
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p {
    text-align: center;
}