* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */ 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 10px;
    margin: auto;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    padding: 5px;
    margin-left: 16vw;
}

.nav-links{
    margin-right: 13.5vw;
    padding: 5px;
}

ul{
    display: flex;
    list-style: none;
    color: #f9faf8;
}

li a{
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

/* CONTAINER 1 */

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 100px;
    margin: auto;
}

.container1-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding: 5px;
    margin: 5px;
}

.c1-left-text{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    width: 35vw;
    height: 300px;    
}

.c1-left-text h1{
    font-size: 48px;
    font-style: bold;
    color: #f9faf8;
    padding: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.c1-left-text p{
    font-size: 24px;
    color: #e5e7eb;
    padding: 25px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

}


.c1-left-text button{
    background-color: #3882f6;
    padding: 5px 20px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    color: #f9faf8;
    font-weight: bold;
    border: none;
    
}

img{
    width: 34vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    
}

/* CONTAINER 2 */

.container2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.container2 h1{
    font-size: 36px;
    font-style: bold;
    color: #1f2937;
    padding: 10px;
    margin: 10px;
}

.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    margin: 50px;
}

.card-frame{
    border: 2px #3882f6 solid;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin: 10px;
    padding: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card p {
    text-align: center;
    width: 100px;
    margin: 5px;
}

/* CONTAINER 3 */

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px;
}

.quote{
    width: 66vw;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 10px;
}

.thor{
    width: 64vw;
    text-align: right;
    font-weight: bold;
    padding: 10px;
}

/* CONTAINER 4 */

.container4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.action{
    display: flex;
    min-width: 66vw;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
}

.action-text{
    padding: 5px;
    margin: 50px auto;
}



.button-container{
    margin: 25px auto;
}

.sign{
    background-color: #3882f6;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 10px;
    color: #f9faf8;
    border: #f9faf8 solid 1px;
    font-weight: bold;
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    min-height: 75px;
    color: #f9faf8;
    padding: 10px;
}

